#inicio {
    background-image: url(../img/librosEvadla3.jpg);
    background-attachment: fixed;
    background-blend-mode: color-dodge;
    font-size: large;
}

.fondobeige {
    background-color: $color-primario;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    margin-right: 20px;
    margin-left: 20px;
    padding: 8px;
    font-style: italic;
}

.bold {
    font-weight: bold;
    font-size: large;
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (min-width: $tablet) {
    .container-cards {
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-items: center;
    }
}

@media (min-width: $desktop) {
    .container-cards {
grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    max-width: 100%;
}

.card-img-top {
    height: 200px;
}


