.caja1historia {
    background-color: $color-primario;
    width: 400px;
    height: 250px;
    font-size: medium;
    padding: 10px 20px;
    border: solid 5px black;
    margin-bottom: 25px;
}

.accordion-flush{
    font-size: medium;
}

.accordion-button {
    font-size: medium;
}